<footer>
  <a href="#"><img src="./assets/images/ico-arrow.svg" alt="icon menu" /></a>

  <nav class="links_web">
    <ul>
      <li>
        <a href="#" title="link articles">ARTICLES</a>
      </li>
      <li>
        <a href="#" title="link book">BOOK</a>
      </li>
      <li>
        <a href="#" title="link events">EVENTS</a>
      </li>
      <li>
        <a href="#" title="link reason">REASONS</a>
      </li>
      <li>
        <a href="#" title="link tips">TIPS</a>
      </li>
    </ul>
  </nav>
  <nav class="links_social_media">
    <ul>
      <li>
        <a href="https://twitter.com/Adalab_Digital" target="_blank">TWITTER</a>
      </li>
      <li>
        <a href="https://www.instagram.com/adalab_digital/" target="_blank"
          >INSTAGRAM</a
        >
      </li>
      <li>
        <a href="https://mastodon.social/@mastodon_es" target="_blank"
          >MASTODON.SOCIAL</a
        >
      </li>
    </ul>
  </nav>

  <small>&copy 2021 </small>
  <small>we 💖 components</small>
</footer>
