<footer>
  <a href="#"><img src="./assets/images/ico-arrow.svg" alt="icon menu" /></a>

  <nav class="links_web">
    <ul>
      <li>
        <a href="https://adalab.es">ARTICLES</a>
      </li>
      <li>
        <a href="./more-info.html">BOOK</a>
      </li>
      <li>
        <a href="https://adalab.es">EVENTS</a>
      </li>
      <li>
        <a href="./more-info.html">REASONS</a>
      </li>
      <li>
        <a href="./more-info.html">TIPS</a>
      </li>
    </ul>
  </nav>
  <nav class="links_social_media">
    <ul>
      <li>
        <a href="https://adalab.es">TWITER</a>
      </li>
      <li>
        <a href="./more-info.html">INSTAGRAM</a>
      </li>
      <li>
        <a href="https://adalab.es">MASTODON.SOCIAL</a>
      </li>
    </ul>
  </nav>
  <small> &copy 2021 we love components </small>
</footer>
