<main class="page__main">
  <section class="section_1">
    <article>
      <small class="text_sup">Insomnia Tips</small>
      <h2 class="title_article1">Looking through a window</h2>
      <p class="p_article1">
        Donec accumsan, nullaut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales retrum.
      </p>
      <a class="open_content" href="#" title="open_content">Go</a>
    </article>
  </section>

  <section class="section_2" id="reasons">
    <h2 class="title_section2">3 Reason to Purchase</h2>
    <div class="article-list">
      <article>
        <h3 class="t_font">Ut sed metus</h3>
        <p class="p_font">Lorem ipsum dolor sit amet consectetur.</p>
      </article>
      <article>
        <h3 class="t_font">Curabitur ac erat</h3>
        <p class="p_font">Mauris mattis urna quis lorem molitese.</p>
      </article>
      <article>
        <h3 class="t_font">Morbi dictum</h3>
        <p class="p_font">Aliquam in dolor et dolor tincidunt</p>
      </article>
    </div>
    <div class="botton-reason">
      <a href="#" title="more reason">More Reason</a>
    </div>
  </section>
</main>
