<main class="page__main">
  <section>
    <article>
      <small class="text_sup">Insomnia Tips</small>
      <h2>Looking through a window</h2>
      <p>
        Donec accumsan, nullaut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper retrum.
      </p>
      <a href="#" title="open content">Go</a>
    </article>
  </section>

  <section>
    <h2>3 Reason to Purchase</h2>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molitese.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt</p>
    </article>

    <a href="#" title="more reason">More Reason</a>
  </section>
</main>
