.page__footer {
  background-color: #304268;
}

.footer-botton {
  width: 45px;
  height: 45px;
  background-color: white;
  box-shadow: 0 2px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-22px);
  border-radius: 50%;
  margin: auto;
}

.footer-links {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
  padding-top: 15px;

  @media (min-width: 720px) {
    display: flex;
    justify-content: space-between;
    padding-left: 279px;
    padding-right: 40px;
  }
}

.footer-links a {
  color: white;
}

.links_web {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;

  @media (min-width: 720px) {
    text-align: left;
    align-items: flex-start;
  }
}

.links_social_media {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;

  @media (min-width: 720px) {
    text-align: left;
    align-items: flex-start;
  }
}

.I-love-Adalab {
  padding-bottom: 45px;
  color: white;
  font-size: 14px;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.14;

  @media (min-width: 720px) {
    width: 200px;
    align-items: flex-start;
    padding-left: 39px;
    transform: translateY(-180px);
  }
}
