.page__footer {
  background-color: #304268;
}

.footer-links {
  font-family: $font-main;
  font-size: 16px;
}

.footer-links a {
  color: white;
}

.links_web {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links_social_media {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}
