.page__header {
  background: url(../images/cover.jpg);
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
}
