body {
  background-color: $color-bg;
  font-family: $font-main;
}

.section_1 {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media all and (min-width: 720px) {
    padding-left: 39px;
  }
}

.text_sup {
  font-family: $font-main;
  font-size: 14px;
  color: #8ccbea;
  line-height: 30px;
}

.title_article1 {
  font-family: $font-title;
  text-transform: capitalize;
  max-width: 250px;
  color: black;
  margin-bottom: 15px;
}

.p_article1 {
  font-family: $font-main;
  font-size: 18px;
  color: #4a4a4a;
  padding-bottom: 30px;
  line-height: 1.67;
}

.open_content {
  display: flex;
  width: 76px;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-family: $font-botton;
  font-size: 20px;
  color: #f26002;
  border: solid 2px #f26002;
  border-radius: 22.5px;
  margin-bottom: 45px;
}

.section_2 {
  background: #eff9ff;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

.title_section2 {
  font-size: 24px;
  font-family: $font-title;
  text-transform: capitalize;
  text-align: center;
}

.article-list {
  display: grid;
  grid-template-rows: 115px 115px 115px;
  text-align: center;
  padding: 45px 55px 0px 55px;

  @media all and (min-width: 720px) {
    display: grid;
    grid-template-columns: 227px 227px 227px;
    grid-template-rows: 1fr;
    padding: 60px 25px 0px 25px;
  }
}

.botton-reason {
  text-align: center;
  font-size: 20px;
  background-color: #f26002;
  width: 184px;
  height: 45px;
  margin: auto;
  padding-top: 10px;
  border-radius: 22.5px;
}

.botton-reason a {
  color: #ffffff;
  font-family: $font-botton;
}

.p_font {
  font-size: 18px;
}

.t_font {
  font-size: 18px;
  font-family: $font-title;
}
